/.cache/
/elpa/
/init.el
/state/

# Emacs runtime junk
/packages/
/transient/
/eln-cache/
/url/
/session.*
/var/
/recentf
/projectile-bookmarks.eld

# More Emacs runtime junk
/.emacs.desktop.lock
/ac-comphist.dat
